{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'payment.css' %}">
</head>
<body>
    <div class="container">
        <h1>Payment Details</h1>
        <div class="ride-details">
            <p><strong>Ride Type:</strong> {{ ride.ride_type }}</p>
            <p><strong>Current Location:</strong> {{ ride.current_location }}</p>
            <p><strong>Destination:</strong> {{ ride.destination }}</p>
            <p><strong>Price:</strong> ${{ ride.price }}</p>
        </div>

        <form action="{% url 'payment'  ride_id=ride.id %}" method="post">
             {% csrf_token %}
            <div class="form-group">
                <label for="mpesa_code">M-Pesa Code:</label>
                <input type="text" id="mpesa_code" name="mpesa_code" required>
            </div>
            <input type="hidden" name="current_location" value="{{ ride.current_location }}">
            <input type="hidden" name="destination" value="{{ ride.destination }}">
            <input type="hidden" name="price" value="{{ ride.price }}">
            <input type="hidden" name="ride_id" value="{{ ride.id }}">
            <button type="submit">Pay Ride</button>
        </form>
    </div>
</body>
</html>